<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Illusion</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	<link rel="stylesheet" type="text/css" href="assest/css/style.css">
	<script type="text/javascript" src="assest/js/style.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		.container {
			border: 1px solid red;
			text-align: center;
		}
		.service-card {
			background-color: black; 
			color: whitesmoke; 
			border: 1px solid white; 
			padding: 20px;
		}
		.card {
			background-color: white; /* Set card background to white */
			color: black; /* Change text color to black for contrast */
			border: none; /* Removes default border */
		}
		.sub-title {
			color: blueviolet;
		}
		.discript {
			text-align: center;
		}
	</style>
</head>
<body class="container-fluid">
	<div class="container mt-5">
		<img src="assest/images/logo.png" style="width:230px; height: 170px;">
		<h1>ILLUSION</h1>
	</div>

	<div class="container-fluid mt-5 service-card">
		<div class="d-flex flex-nowrap justify-content-center">
			<div class="card col-3 gy-3 gx-3">
				<h3 class="sub-title">Riya Dhaked</h3> 
				<p class="discript">Student Of SKIT Jaipur<br> CSE (Data Science) <br> University Roll No. ---> 23ESKCX093<br>LinkedIn Id ---> <a href="https://www.linkedin.com/in/riya-dhaked-751769296/">Riya Dhaked</a></p>
			</div>
			<div class="card col-3 gy-3 gx-3">
				<h3 class="sub-title">Rudraksh Dusad</h3>
				<p class="discript">Student Of SKIT Jaipur<br> CSE (Data Science) <br> University Roll No. ---> 23ESKCX096<br>LinkedIn Id ---> <a href="https://www.linkedin.com/in/rudraksh-dusad-3650822b7?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">Rudraksh Dusad</a></p>
			</div>
			<div class="card col-3 gy-3 gx-3">
				<h3 class="sub-title">Shanker Joshi</h3>
				<p class="discript">Student Of SKIT Jaipur<br> CSE (Data Science) <br> University Roll No. ---> 23ESKCX106<br>LinkedIn Id ---> <a href="https://www.linkedin.com/in/shanker-joshi-76a563318?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">Shanker Joshi</a></p>
			</div>
			<div class="card col-3 gy-3 gx-3">
				<h3 class="sub-title">Rahul Garg</h3>
				<p class="discript">Student Of SKIT Jaipur<br> CSE (Data Science) <br> University Roll No. ---> 23ESKCX087<br>LinkedIn Id ---> <a href="https://www.linkedin.com/in/rahulgargji/">Rahul Garg</a></p>
			</div>
		</div>
	</div>
</body>
</html>